<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.mapper.QnaMapper">

	<!-- 게시판 리스트보기 -->
  	<select id="list" resultType="com.team2.domain.QnaVO">
    <![CDATA[
    select * from QNAANSWER 
        where answerno > 0 
       order by answerno desc, postdate desc
    ]]>
	</select>


	 <select id="listPage" resultType="com.team2.domain.QnaVO"> 
		<![CDATA[ SELECT answerno, memno, answertitle, answercon, postcount, 
		postdate FROM(SELECT answerno, memno, answertitle, answercon, postcount, postdate, ROW_NUMBER() OVER(ORDER BY answerno DESC) AS RNUM 
		FROM qnaanswer ) qna WHERE answerno > 0 ORDER BY answerno DESC RNUM #{page},10 
		]]> 
	</select>

	
	<!-- criteria를 적용한 게시판 페이징 조회 -->
	<select id="listSearchCriteria" resultType="com.team2.domain.QnaVO">
    	<![CDATA[
    	select * from                    
    		(select rownum rnum, data.* from ( select q.*, m.id from qnaanswer q, member m where q.memno = m.memno order by postdate desc) data
  		]]>  
		 <include refid="searchList"></include>
		<![CDATA[
		) where rnum >= #{rowStart} and rnum <= #{rowEnd}
		ORDER BY answerNo DESC
       ]]>
	</select>
       

	<select id="countPaging" resultType="int">
       <![CDATA[
       select count(*) 
       from 
         qnaanswer 
          where answerno>0]]>
          <include refid="search"></include>
       
	</select>
	
	<sql id="searchList">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">where answerTITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">where answerCON LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">where  LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">where (answerTITLE LIKE '%' || #{keyword} || '%') or (answerCON LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">and answerTITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">and answerCON LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">and  LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">and (answerTITLE LIKE '%' || #{keyword} || '%') or (answerCON LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	


<select id="listSearch" resultType="com.team2.domain.QnaVO">
<![CDATA[  
  select * 
  from qnaanswer 
  where answerno > 0 
]]>

		<include refid="search"></include>
  
<![CDATA[    
  order by answerno desc
  ROW_NUMBER #{rowStart}, #{rowEnd}
]]>
	</select>

	<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(answerno) 
  from qnaanswer 
  where answerno > 0 
]]>
		<include refid="search"></include>

	</select>

	<!-- 게시판 글 작성 -->

	<insert id="write">

		insert into QNAANSWER( answerNo , memno , 
		answerTitle, answerCon, postcount , postdate )
		values(
		QNAANSWERSEQ.NEXTVAL,#{memno}, #{answerTitle}, #{answerCon},0,sysdate)

	</insert>

	<!-- 게시판 읽기 -->
	<select id="read" resultType="com.team2.domain.QnaVO">
		<![CDATA[
		select q.*, m.id from QNAANSWER q, member m where answerNo=#{answerNo} and m.memno=q.memno
	   ]]>
	</select>

	<!-- 게시판 삭제하기 -->
	<delete id="delete">
		delete from QNAANSWER where answerNo = #{answerNo}
	</delete>

	<!-- 게시판 수정하기 -->
	<update id="update">
		update QNAANSWER set answerTitle = #{answerTitle} ,
		answerCon = #{answerCon}
		where answerNo = #{answerNo}
	</update>

	<!-- 게시판 조회수 -->
	<update id="count" parameterType="int">
		UPDATE qnaanswer SET
		postcount =
		postcount+1
		WHERE answerNo = #{answerNo}
	</update>



</mapper>
